{
  "maxWidth": 80,
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
